.column2 {

    display: table;
    float: left;
    width: 100%;
    padding: 1%;

}

.row1:after {

    content: "";
    display: table;
    clear: both;

}

@media screen and (max-width: 1080px) {
    .column2 {
        width: 80%;
       
    }
}
@media screen and (max-width:768px) {
    .column2 {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .mapa {
        width: 100%;
    }
}
